# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore dependency folders
lib/
lib64/
bin/
include/
pyvenv.cfg

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
*.log
